body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  background-color: rgb(255, 192, 245);
  }
  
  img {
    display: none;
  }